// ================
// Leeds colors map
// ================
$leeds-colors: (
  "lcc-blue": #007299,
);

// ================
// Function to call the color from the $leeds-colors map
// ================
@function color($key) {
  @return map-get($leeds-colors, $key);
}

// ================
// GOV-UK CONFIG
// ================
$govuk-button-background-colour: color("lcc-blue");
$govuk-assets-path: "./";
$govuk-font-family: var(--font-family);
$govuk-new-typography-scale: true;  // see- https://design-system.service.gov.uk/get-started/new-type-scale/