@use "sass:string";
$id: string.unique-id();

.spin-loader {
  font-size: 5px;
  width: 1em;
  height: 1em;
  margin-inline-start: govuk-spacing(6);
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: spinner-#{$id} 1.1s infinite ease;
  transform: translateZ(0);
}


@keyframes spinner-#{$id} {
  $white: #ffffff;
  $grey-point2: rgba(255, 255, 255, 0.2);
  $grey-point5: rgba(255, 255, 255, 0.5);
  $grey-point7: rgba(255, 255, 255, 0.7);
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em $white,
      1.8em -1.8em 0 0em $grey-point2,
      2.5em 0em 0 0em $grey-point2,
      1.75em 1.75em 0 0em $grey-point2,
      0em 2.5em 0 0em $grey-point2,
      -1.8em 1.8em 0 0em $grey-point2,
      -2.6em 0em 0 0em $grey-point5,
      -1.8em -1.8em 0 0em $grey-point7;
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em $grey-point7,
      1.8em -1.8em 0 0em $white, 2.5em 0em 0 0em $grey-point2,
      1.75em 1.75em 0 0em $grey-point2,
      0em 2.5em 0 0em $grey-point2,
      -1.8em 1.8em 0 0em $grey-point2,
      -2.6em 0em 0 0em $grey-point2,
      -1.8em -1.8em 0 0em $grey-point5;
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em $grey-point5,
      1.8em -1.8em 0 0em $grey-point7, 2.5em 0em 0 0em $white,
      1.75em 1.75em 0 0em $grey-point2,
      0em 2.5em 0 0em $grey-point2,
      -1.8em 1.8em 0 0em $grey-point2,
      -2.6em 0em 0 0em $grey-point2,
      -1.8em -1.8em 0 0em $grey-point2;
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em $grey-point2,
      1.8em -1.8em 0 0em $grey-point5,
      2.5em 0em 0 0em $grey-point7, 1.75em 1.75em 0 0em $white,
      0em 2.5em 0 0em $grey-point2,
      -1.8em 1.8em 0 0em $grey-point2,
      -2.6em 0em 0 0em $grey-point2,
      -1.8em -1.8em 0 0em $grey-point2;
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em $grey-point2,
      1.8em -1.8em 0 0em $grey-point2,
      2.5em 0em 0 0em $grey-point5,
      1.75em 1.75em 0 0em $grey-point7, 0em 2.5em 0 0em $white,
      -1.8em 1.8em 0 0em $grey-point2,
      -2.6em 0em 0 0em $grey-point2,
      -1.8em -1.8em 0 0em $grey-point2;
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em $grey-point2,
      1.8em -1.8em 0 0em $grey-point2,
      2.5em 0em 0 0em $grey-point2,
      1.75em 1.75em 0 0em $grey-point5,
      0em 2.5em 0 0em $grey-point7, -1.8em 1.8em 0 0em $white,
      -2.6em 0em 0 0em $grey-point2,
      -1.8em -1.8em 0 0em $grey-point2;
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em $grey-point2,
      1.8em -1.8em 0 0em $grey-point2,
      2.5em 0em 0 0em $grey-point2,
      1.75em 1.75em 0 0em $grey-point2,
      0em 2.5em 0 0em $grey-point5,
      -1.8em 1.8em 0 0em $grey-point7, -2.6em 0em 0 0em $white,
      -1.8em -1.8em 0 0em $grey-point2;
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em $grey-point2,
      1.8em -1.8em 0 0em $grey-point2,
      2.5em 0em 0 0em $grey-point2,
      1.75em 1.75em 0 0em $grey-point2,
      0em 2.5em 0 0em $grey-point2,
      -1.8em 1.8em 0 0em $grey-point5,
      -2.6em 0em 0 0em $grey-point7, -1.8em -1.8em 0 0em $white;
  }
}
