// https://moderncss.dev/modern-css-for-dynamic-component-based-architecture/

/* .pagination-container {
  gap: 1rem;
  padding: 3rem 0;
  font-size: 1.65rem;
}

.pagination-container a {
  text-decoration: none;
}

.pagination-container,
.pagination-list {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
}

.pagination-list {
  gap: 0.25rem;
}

.pagination-list a {
  display: grid;
  place-content: center;
  padding: 0.15em;
  border-radius: 0.25em;
  border: 2px solid transparent;
  line-height: 1;
  width: 3ch;
  height: 3ch;
  font-weight: bold;
  text-align: center;
  color: var(--demo-primary);
}

.pagination-list a:is([aria-current], :hover) {
  border-color: var(--demo-accent--ui);
  background-color: var(--demo-accent--alt);
}

.pagination-nav {
  display: inline-flex;
  align-items: center;
  color: var(--demo-secondary);
  border-radius: 0.25em;
}

.pagination-nav svg {
  width: 1.5em;
  height: 1.5em;
  flex-shrink: 0;
}

.pagination-nav:hover .pagination-nav__label {
  text-decoration: underline;
  text-underline-offset: 0.15em;
}

.pagination-nav__next svg {
  transform: scaleX(-1);
}

.pagination-label {
  font-weight: bold;
  text-align: center;
} */

/* Most narrow display */
// .pagination-list {
//  display: none;
//}

/* Inclusively hidden so it is still read as a label by assistive tech */
/* .pagination-nav__label {
  height: 1px;
  overflow: hidden;
  position: absolute;
  clip-path: inset(50%);
} */

.pagination-container {
  container-type: size;
}

@container (min-height: 25cqh) {
  .pagination-nav__label {
    height: auto;
    overflow: unset;
    position: unset;
    clip-path: unset;
  }
}

@container (min-height: 40cqh) {
  .pagination-container:has(input:nth-child(2)) {
    .pagination-list {
      display: none;
    }

    .pagination-label {
      display: block;
    }
  }
}
